:root {
  --main-color: #2C3E50;
  --secondary-color: #E67E22;
  --green-lime: #32CD32;
  ;
  --white : #ECF0F1;
}

body {
  background-color: #ECF0F1;
  box-sizing: border-box;
}
h1,h2,h3, h4, h5, h6 {
  color: var(--main-color);
}
.container {
  max-width: 1000px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

.title {
  text-align: center;
  color: var(--secondary-color);
}
.link {
  text-decoration: none;
  color: black;
}
.button {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.3 ease;
  font-size: 1rem;

}
.button:hover {
  background-color: var(--green-lime);
}

.flex-col-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.text-orange {
  color: var(--secondary-color);
}

.relative {
  position: relative;
}